<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hw.rms.roommanagementsystem">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".OccupiedActivity">
        </activity>
        <activity
                android:name=".AdminActivity.AdminSettingActivity"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".AdminActivity.AdminLoginActivity"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".RoomListActivity"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".WaitingActivity"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".AvailableMainActivity"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".WaitingOccupiedActivity"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>